    {% extends "dashboard.html" %}
    {% block start %}

<div class="quick_test">
    
    <form method="post" class="test_form">
        {% csrf_token %}
        <h1 style="text-align: center;color: #333;">Mental Health Depression Quick Test</h1>
        <label class = "test_label">How often have you felt overwhelmingly sad in the past two weeks?</label>
        <select name="feeling_sad">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">Have you lost interest or pleasure in your usual activities?</label>
        <select name="lost_interest">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">How often have you had trouble falling asleep, staying asleep, or sleeping too much?</label>
        <select name="sleep_issues">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">Do you experience changes in appetite or weight (loss or gain)?</label>
        <select name="appetite_changes">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">How often do you feel bad about yourself or that you are a failure?</label>
        <select name="self_worth">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">Are you having trouble concentrating on things, such as reading or watching television?</label>
        <select name="concentration_issues">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">Have you noticed changes in your physical activity level, such as moving or speaking more slowly or more quickly than usual?</label>
        <select name="activity_level_changes">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <label class = "test_label">Have you had thoughts that you would be better off dead, or of hurting yourself in some way?</label>
        <select name="suicidal_thoughts">
            <option value="0"> </option>
            <option value="1">Not at all</option>
            <option value="2">Several Days</option>
            <option value="3">More than half a week</option>
            <option value="4">Nearly every day</option>
        </select><br><br>

        <button  class="submit" type="submit">Submit data for evaluation</button>
        <button class="result" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Display the result
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Result</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </form>
    
   <!-- Button trigger modal -->

  {%endblock%}